header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header {
    height: 30px;
    padding: 25px;
    border-bottom: 2px solid #ccc;
    background-color: white;
    @media (max-width: $break-large) {
        position: fixed;
        width: 100%;
        
    }
}

.calling-section-header {
    padding: 0 45px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
}