header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header {
    height: 30px;
    padding: 25px;
}

.calling-section-header {
    padding: 0 45px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
}