$body-bk-color: white;
$contact-list-bk-color: #c6c8d7;
$border: 2px solid #ccc;
$icon-color: #ccc;
$call-button-color: green;
$endcall-button-color: red;
$incoming-bk-color: #6f7399;
$outgoing-bk-color: #e6e7ed;